@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,500;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.logo {
  position: absolute;
  display: flex;
  color: #6070ff;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  float: left;
}

.img-logo {
  position: absolute;
  display: flex;
  margin-left: 80%;
}

.main-section {
  min-width: 375px;
  padding-top: 120px;
  padding-bottom: 40%;
  padding-left: 24px;
  border-bottom-left-radius: 6rem;
  background-image: url("images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

.primary-text {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.my-experience {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  gap: 10px;
  list-style-type: none;
}
/* today */

.Works {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  padding: 0;
  width: 327px;
}
.first-works {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid white;
  margin-bottom: 20px;
  width: 327px;
}
.work-image {
  width: 295px;
  height: 220px;
  padding-left: 16px;
  padding-right: 16px;
}

.canopy {
  display: flex;
  gap: 22px;
  /* 
  justify-content: space-between; */
  /* width: 120px; */
  height: 16px;
  margin-left: -35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.canopy-1 {
  list-style-type: none;
}
.canopy-2,
.canopy-3 {
  opacity: 0.5;
}

.main-languages {
  display: flex;
  border-radius: 8px;
  gap: 12px;
  margin-left: -8px;
  list-style-type: none;
}

.language {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border: 8px solid #ebebff;
  border-radius: 10px;
}

.see {
  width: 140px;
  height: 52px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.aboutmyself {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
}

.my-resume {
  padding: 10px;
  border-radius: 5px;
  color: #396df2;
  border-color: #396df2;
  background-color: white;
}

.aboutme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.language-list {
  display: grid;
  grid-template-columns: 2fr;
}

.language-list-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.list-one {
  display: flex;
}
.language-img {
  width: 48px;
  height: 48px;
}
